/* roboto-mono-100 - latin */
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 100;
	src: local('Roboto Mono Thin'), local('RobotoMono-Thin'),
		url('/client/fonts/roboto-mono-v4-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
		url('/client/fonts/roboto-mono-v4-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-mono-300 - latin */
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Mono Light'), local('RobotoMono-Light'),
		url('/client/fonts/roboto-mono-v4-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
		url('/client/fonts/roboto-mono-v4-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-mono-regular - latin */
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Mono'), local('RobotoMono-Regular'),
		url('/client/fonts/roboto-mono-v4-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
		url('/client/fonts/roboto-mono-v4-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-mono-500 - latin */
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 500;
	src: local('Roboto Mono Medium'), local('RobotoMono-Medium'),
		url('/client/fonts/roboto-mono-v4-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
		url('/client/fonts/roboto-mono-v4-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-mono-700 - latin */
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Mono Bold'), local('RobotoMono-Bold'),
		url('/client/fonts/roboto-mono-v4-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
		url('/client/fonts/roboto-mono-v4-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}